h1{
width: 630px;
position: relative;
left: 252px;
color: #484848 !important;
font-size: 48px !important;
font-weight: 300 !important;
line-height: 56px !important;
margin-bottom: 60px;
}

label{
  
}

.index{
  color: red;
  font-size: 50px;
}

.boitehautdroite{
    position: relative;
    left: 70%;
    top: -350px;
}

input{
  padding-top: 30px;
padding-left: 155px;
}


ul{
width: 580px;
display: inline-flex;
position: relative;
}

li{
position: relative;
display: inline-block;
}

a{
 margin-left: 15px;
font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px; 
}
.deux{
position: relative;
margin-left: 146px;
}

.trois{
position: absolute;
margin-left: 25px;
}

.hautdroite{
position: relative;
margin-left: -213px;
padding-top: 20px;
padding-left: 77px;
background: #FF5A5F !important;
font-size: 26px !important;
line-height: 32px !important;
color: #ffffff;
float: right !important;
text-align: center !important;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}
.un{

}

h3{
width: 125px;
position: relative;
margin-left: 10px;
font-size: 28px !important;
}

.recherche{
  margin-left: 145px;
position: relative;
top: 30px;
color: #008489 !important;
letter-spacing: 0.4px !important;
font-size: 12px !important;
line-height: 25px !important;
padding-top: 12px !important;
padding-bottom: 12px !important;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

img{
  position: relative;
margin-left: 5px;
}

.fin{

}

.reservees{
  position: relative;
margin-left: 141px;
}


.res{
  width: 1255px;
margin-left: 41px;
margin-top: 73px;
}

.res1{
  margin-left: 150px;
}

footer{
  width: 300px;
}
.ex{
    position: relative;
    margin-left: 181px;
    width: 1116px;
}
.lo{
position: relative;
margin-left: 185px;
}
.dest{
  margin-left: 184px;
 
}

.fin{
position: relative;
margin-left: 251px;
width: 660px;
top: 280px;
}
.estimation{
    background: #008489 !important;
    width: auto !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    border: 2px solid transparent;
    position: relative !important;
    font-weight: 700 !important;
    margin-left: 10px;
}


.paragra1{
width: 400px;
color: #484848 !important;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
margin: 13px !important;
font-size: 28px !important;
}

.paragra2{
 color: #484848 !important;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
margin: 12px !important;
font-size: 18px !important;
padding-top: 21px !important;
padding-bottom: 20px !important;
width: 401px;
}
}

.destinations{

}

.fin1{
  width: 538px;
position: relative;
left: 690px;
}

span{
position: relative;
text-align: right;
margin-left: 91px;
}


.spane{
width: 1099px;
margin-left: 144px;
display: block;
}



@media (min-width: 750px){
  div {
    display: inline-block;
}

  div:nth-child(2){
    display: none;
  }
}


@media (min-width: 900px){
  
  

  div:nth-child(2){
    display: inline-block;
  }
