h1{
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
font-size: 48px;
line-height: 56px;
letter-spacing: -0.8px;
padding-top: 8px;
padding-bottom: 8px;
color: #484848 ;
font-weight: 300;
width: 648px;
position: relative;
left: 207px;
}

span{
  font-weight: 700 !important;
color: #FF5A5F !important;
}

li{
  display: inline-block;
}

.boitehautdroite{
    position: relative;
    left: 74%;
    bottom: 290px;

}


.deux{
width: 1078px;
position: relative;
left: 205px;
}

.labelou{
width: 295px;
position: relative;
padding-bottom: 46px;
margin-left: 9px;
right: 10px;
top: 12px;
}


.inputpartout{
width: 246px;
position: relative;
margin-left: 19px;
bottom: 17px;
}

.labelquand{
width: 10px;
position: relative;
padding-bottom: 45px;
padding-right: 313px;
left: 295px;
bottom: 81px;
}


.buttonindiffe{
position: relative;
left: 295px;
bottom: 110px;
width: 155px;
}

.labelvoyageurs{
position: relative;
padding-right: 260px;
padding-bottom: 45px;
left: 619px;
bottom: 174px;
width: 47px;
}
.buttonvoyageur{
position: relative;
bottom: 203px;
left: 619px;
width: 30px;
}

.buttonrecherche{
position: relative;
bottom: 251px;
left: 823px;
width: 30px;
}



.recherche{
  position: relative;
margin-left: 204px;
margin-top: 15px;
display: inline-block;
width: 1080px;
}

a{
  margin-left: 15px;
font-size: 12px;
color: #008489;
font-weight: 700;
line-height: 16px;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

h3{
      width: 1080px;
    position: relative;
    left: 203px;
}
.reservees{
 position: relative;
left: 203px; 
}

.experiences{
  position: relative;
left: 202px;
}

.logements{
  position: relative;
left: 202px;
}

.destination{
position: relative;
left: 188px;
width: 160px;
}

.paris{
position: relative;
bottom: 307px;
left: 184px;
}

.tokyo{
position: relative;
bottom: 631px;
left: 362px;
}



.florence{
position: relative;
bottom: 952px;
left: 539px;
}

.londres{
position: relative;
bottom: 66%;
left: 910px;
width: 165px;
}

.sanfrancisco{
position: relative;
bottom: 83%;
left: 715px;
}

.fin{
position: relative;
bottom: 257%;
left: 253px;
width: 345px; 
}

.fin1{
position: relative;
bottom: 313%;
left: 731px;
width: 539px;
padding-top: 74px;
}

.estimation{
background: #008489;
border: 2px solid transparent;
font-weight: 700;
padding-bottom: 10px;
padding-top: 10px;
border-radius: 5px;
}

.paragra1{
font-weight: 700;
color: #484848;
font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
margin: 0px;
word-wrap: break-word;
font-size: 28px;
line-height: 36px;
letter-spacing: -0.6px;
padding-top: 2px;
padding-bottom: 2px;
position: relative;
width: 543px;
right: 61px;
}


.paragra2{
    font-weight: 300;
    color: #484848;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    word-wrap: break-word;
    font-size: 19px;
    line-height: 24px;
    width: 246px;
    position: relative;
}



@media (min-width: 750px){
 



}

  :nth-child(2){
    display: none;
  
}


@media (min-width: 900px){
 

  

  :nth-child(2){
    display: inline-block;
  }
